<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= f.label :client_id, "Client" %>
    </div>
    <div><%= collection_select :client_dropdown, :client_id, @clients, :id, :name, include_blank: true %></div>
  </div>
  <br>

  <div>
    <div>
      <%= f.label :project_id, "Project" %>
    </div>
    <%= f.grouped_collection_select :project_id, @clients, :projects, :name, :id, :name, include_blank: true%>
  </div>
  <br>

  <div>
    <div>
      <%= f.label :description %>
    </div>
    <%= f.text_field :description %>
  </div>
  <br>

  <% time = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0] %>
  <div>
    <div>
      <%= f.label :time %>
    </div>
    <%= f.select :time, time, include_blank: true %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit id: 'submit-task' %>
  </div>
<% end %>
