<h2>Tasks</h2>

<h3>Unbilled</h3>
<table class="table">
  <tr>
    <th>Client</th>
    <th>Project</th>
    <th>Time</th>
    <th>Details</th>
    <th></th>
  </tr>

<% @unbilled_tasks.each do |task| %>
  <tr>
    <td><%= link_to task.project.client.name, task.project.client %></td>
    <td><%= link_to task.project.name, task.project %></td>
    <td><%= task.time %></td>
    <td><%= link_to 'show', task %></td>
    <td><%= link_to image_tag('checkmark.png', size: '20x20'), edit_task_status_path(task.id, status: 'billed', coming_from: 'list') %></td>
  </tr>
<% end %>
  <tr>
    <td>Total time:</td>
    <% unbilled_time = @unbilled_tasks.inject(0) do |sum, task|%>
      <% sum += task.time  %>
    <% end %>
    <td><%= unbilled_time %></td>
  </tr>
</table>


<h3>Billed</h3>
<table class="table">
  <tr>
    <th>Client</th>
    <th>Project</th>
    <th>Time</th>
    <th>Details</th>
    <th></th>
  </tr>

<% @billed_tasks.each do |task| %>
  <tr>
    <td><%= link_to task.project.client.name, task.project.client %></td>
    <td><%= link_to task.project.name, task.project %></td>
    <td><%= task.time %></td>
    <td><%= link_to 'show', task %></td>
    <td><%= link_to image_tag('destroy.png'), task, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
  </tr>
<% end %>
</table>



<h2>New Task</h2>
<%= render 'form' %>

<br>
<%= link_to 'Back to Dashboard', tasks_path, class: 'btn btn-primary btn-large' %>
