<h2>Clients</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Details</th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to image_tag('destroy.png'), client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h2>New Client</h2>
<%= render 'form' %>
<br>

<%= link_to 'Back to Dashboard', tasks_path, class: 'btn btn-primary btn-large' %>
