<h2>Timesheet for <%= @client.name %></h2>
<h3>(<%= @client.total_time %> hrs to date)</h3>

<% @client.projects.each do |project| %>
  <table class="table">
    <tr>
      <th><%= link_to project.name, project %></th>
      <th></th>
    </tr>
    <% project.tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.time %> hrs</td>
      </tr>
    <% end %>
      <tr class="bottom-row"><td>Total Time:</td><td><%= project.total_time %> hrs</td></tr>
  </table>
<% end %>

<%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-warning btn-large' %>
<%= link_to 'Back to Dashboard', tasks_path, class: 'btn btn-primary btn-large' %>
