<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :name %></div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div><%= f.label :client_id %></div>
    <%= f.collection_select :client_id, Client.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-large btn-success' %>
  </div>
<% end %>
