<h2>Projects</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th>Details</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.client.name %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to image_tag('destroy.png'), project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h2>New Project</h2>
<%= render 'form' %>

<br>
<%= link_to 'Back to Dashboard', tasks_path, class: 'btn btn-primary btn-large' %>
