<h2><%= @project.name %></h2>
<h3>Client: <%= link_to @project.client.name, @project.client %></h3>

<table class="table">
  <% @project.tasks.each do |task| %>
    <tr>
      <td><%= task.description %></td>
      <td><%= task.time %></td>
    </tr>
  <% end %>
    <tr class="bottom-row"><td>Total Time:</td><td><%= @project.total_time %></td></tr>
</table>
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning btn-large' %>
<%= link_to 'Back to Dashboard', tasks_path, class: 'btn btn-primary btn-large' %>
