<!DOCTYPE html>
<html>
<head>
  <title>RamBilling</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />

</head>
<body>
<% page = "active" if %>
<ul class="nav nav-pills">
  <li class="<%= "active" if @page == 'home'  %>">
    <a href="/">Dashboard</a>
  </li>
  <li class="<%= "active" if @page == 'clients'  %>">
    <a href="/clients">Clients</a>
  </li>
  <li class="<%= "active" if @page == 'projects'  %>">
    <a href="/projects">Projects</a>
  </li>
  <li class="<%= "active" if @page == 'tasks'  %>">
    <a href="/tasks_list">Tasks</a>
  </li>
  <% if session[:user_id] %>
    <li>
      <a href="/logout" data-method="delete" rel="nofollow">Logout</a>
    </li>
  <% end %>
</ul>


<%= yield %>


  <script type="text/javascript">
      $(function() {
        var projects;
        projects = $('#task_project_id').html();
        // console.log(projects);
        return $('#client_dropdown_client_id').change(function() {
          var client, options;
          client = $('#client_dropdown_client_id :checked').text();
          console.log(client)
          options = $(projects).filter('optgroup[label="' + client + '"]').html();
          // console.log(options);
          return $('#task_project_id').html(options);
        });
      });
  </script>
</body>
</html>
